{% block indexBlog %}
    {% setcontent actualities = 'actualites' latest limit 3 %}
    <!-- blog section start -->
    <div class="blog_section layout_padding">
        <div class="container">
            <h1 class="choose_taital">Nos actualités</h1>

            <div class="blog_section_2 layout_padding">
                <div class="grid mb-4 p-auto">
                    {% for actuality in actualities %}
                        {% include 'partials/components/_actuality/_actualityCard.twig' with {'class': 'item-'~ loop.index , 'record': actuality} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- blog section end -->
{% endblock indexBlog %}
