.card-event {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.card-event .date {
    color: var(--primary-color);
}

.card-event img {
    object-fit: cover;
    border-radius: 5px 0 0 5px;
    height: 100% !important;
}

.card-event .flag {
    position: absolute;
    top: -1.5px;
    left: 10%;
    width: 60px;
    height: 25%;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    z-index: 1 !important;
}

.card-event .flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25%;
    width: 0;
    height: 0;
    border-top: 18px solid var(--primary-color);
    border-bottom: 20px solid transparent;
    border-left: 40px solid var(--primary-color);
    z-index: -1;
}

.card-event .flag:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25%;
    width: 0;
    height: 0;
    border-top: 18px solid var(--primary-color);
    border-bottom: 20px solid transparent;
    border-right: 40px solid var(--primary-color);
    z-index: -1;
}

.card-event .day {
}

@media screen and (max-width: 767px) {
    .card-event img {
        border-radius: 5px 5px 0 0;
    }
}
