.card-container{
    height: 300px;
    background-position: center;
}
.card-container:hover .card-content{
    display: flex !important;
}
.card-content{
    display: none !important;
    height: 100%;
}
.card-content svg{
    height: 50px;
    width: 50px;
}
.card-content svg path{
    fill: #fff;
}
