<div class="modal modalYoutube" id="modal-{{loopIndex}}" tabindex="-1" aria-labelledby="label-{{ loopIndex }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                {{ record.embedded.responsive_inline }}
            </div>
        </div>
    </div>
</div>
