{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/componentStyle/productCardQr.css') }}">
{% endblock %}
<div class="card cardQr col-10 col-md-12 col-xl-8">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
       <img src="{{ asset('pictures/qrReader.png') }}" alt="Scanner nos Qr code !" class="qrCardImg">
    </div>
    <div class="col-md-8 d-flex justify-content-center align-items-center">
      <div class="card-body">
        <p class="card-text">Pour en apprendre plus, il vous suffit de scanner le Qr code présent sur nos étiquette ! </p>
      </div>
    </div>
  </div>
</div>