<!-- Footer -->
<footer>

      <!-- footer section start --> 
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">About</h2>
                  <p class="ipsum_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Services</h2>
                  <div class="footer_links">
                     <ul>
                        <li class="active"><a href="#">Farm</a></li>
                        <li><a href="#">Agriculture</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit</a></li>
                        <li><a href="#">And more</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Our Product</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="#">Milk</a></li>
                        <li><a href="#">Agriculture</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit</a></li>
                        <li><a href="#">And more</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">contact us</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="{{ asset('images/map-icon.png') }}"><span class="padding_left_10">There are many vari</span></a></li>
                        <li><a href="#"><img src="{{ asset('images/call-icon.png') }}"><span class="padding_left_10">+01 1234567890</span></a></li>
                        <li><a href="#"><img src="{{ asset('images/mail-icon.png') }}"><span class="padding_left_10">demo@gmail.com</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->  
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2022 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
         </div>
      </div>
      <!-- copyright section end -->  

</footer>
