:root{
    --margin-top-image-decalee: -25%;
}

.engagements img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.container-image {
    height: 400px;
    width: 70%;
    position: relative;
}

.left {
    right: 20%;
    margin-top: var(--margin-top-image-decalee);
}

.up {
    margin-top: var(--margin-top-image-decalee);
}

@media screen and (max-width: 768px) {
    .container-image {
        position: static;
        height: auto;
    }

    .left{
        margin-top: initial;
    }

    .up {
        margin-top: initial;
    }
}
