:root{
    --margin-top-image-decalee: -10%;
}

.secondview img:not(.firstImage) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.container-image {
    height: 400px;
    width: 70%;
    position: relative;
}
.container-image img{
    filter: grayscale(100%);
}
.container-image::before {
    content: "";
    position: absolute;
    top: var(--outlineBorderPlacement);
    right: var(--outlineBorderPlacement);
    bottom: var(--outlineBorderPlacement);
    left: var(--outlineBorderPlacement);
    border-radius: 0.5em;
    z-index: 1;
}
.borderNumber1::before {
    border: 5px solid var(--quaternary-color);
}
.borderNumber2::before {
    border: 5px solid var(--tertiary-color);
}
.borderNumber3::before {
    border: 5px solid var(--primary-color);
}
 .content .block-right .container-image:hover {
    z-index: 4 !important;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.content .block-right .container-image:hover img {
    object-fit: contain;
    object-position: initial;
    transition: all 0.5s ease-in-out;
}

.left {
    right: 20%;
    margin-top: var(--margin-top-image-decalee);
}

.up {
    margin-top: var(--margin-top-image-decalee);
}

@media screen and (max-width: 1200px) {
    .container-image {
        position: static;
        height: auto;
    }

    .left{
        margin-top: initial;
    }

    .up {
        margin-top: initial;
    }
}


