/* Products listing  */
.card {
    min-height: 480px;
    transition: all 0.15s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    scale: 1.01;
}
@media screen and (max-width: 768px) {
    .card {
        min-height: 420px;
    }
}
.card-img-top {
    max-height: 250px;
    border-radius: 0.25em;
}

.btn-block {
    background-color: var(--secondary-color);
}
.btn-block:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Single product */
.product-recipe-box--outer {
    font-size: 1rem;
}
.product-recipe-box--choice {
    padding: 0 !important; /* overwrite bootstrap variable causing bad positionning */
    font-size: 1rem;
}
.product-recipe-button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.25em;
    font-size: 1rem;
    padding: 2px;
    color: gray;
}
.product-recipe-button:hover {
    cursor: pointer;
}
.product-recipe-button.active {
    background: var(--secondary-color);
    color: white;
}
.product-recipe-box--content {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
