/* Set the global variables for everything. Change these to use your own fonts/colours. */
@import "bootstrap.min.css";
@import "navbar.css";
* {
    /* Set the font globally */
    font-family: var(--sans-font);
    font-size: var(--base-fontsize);
}

/* Make the body a nice central block */
body {
    color: var(--text-color);
    background: var(--background-color);
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.tagBadgeContainer a {
text-decoration: none;
}
.tagBadge {
    background: var(--secondary-color);
    color: black;
    border-radius: 0.25rem;
    margin:0.5rem;
    padding: 0.1rem 0.2rem;
    width: fit-content;
}
.tag-count{
    background: var(--secondary-color);
    color: rgb(61, 61, 61);
}
