{# event = contentype #}

<div class="card-event col-5">
    <div class="product-details position-relative text-start overflow-hidden float-start p-4 col-6">
        <h3 class="text-center">{{event.title | upper}}</h3>
        <p class="information">{{ event.teaser}}</p>
        <!--<div class="control">
            <button class="btn">
                <span class="price">$250</span>
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <span class="buy">Get now</span>
            </button>
        </div>-->
    </div>
    <div class="product-image col-6">
        <img src="https://images.unsplash.com/photo-1606830733744-0ad778449672?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNocmlzdG1hcyUyMHRyZWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        <div class="info">
            <h4> Description</h4>
            <ul>
                <li><strong>Height : </strong>5 Ft </li>
                <li><strong>Shade : </strong>Olive green</li>
                <li><strong>Decoration: </strong>balls and bells</li>
                <li><strong>Material: </strong>Eco-Friendly</li>
            </ul>
        </div>
    </div>
</div>


