<div id="diez-modal-header" class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        Message de
        {{ name }}
        {{ firstname }}</div>
    <div id="diez-modal-close">{% include '/images/close-x-svgrepo-com.svg' %}</div>
</div>
<div id="diez-modal-content">{{ message }}</div>
