.actualityContainer a{
    text-decoration: none;
    color: #000;
}
.largeCard {
    width: 100%;
    height: 25vh;
}
.mediumCard {
    width: 45%;
}
.smallCard {
    width: 30%;
}
.footerCard{
    height: 75px;
}


.grid, .gridRelated {
    width: 90%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .gridRelated{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card {
    background: #a3b104;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
  }
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bolder;
    color: #fff;
  }
  .card p {
    flex: 1;
    line-height: 1.4;
  }

  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }

  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1/span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }

