:root {
    --font-size-card-title: 1.2rem;
    --font-size-card-li: 50px;
}


.card-event {
    background-color: #f5f4f4;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-event:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-event a {
    text-decoration: none;
    color: #333;
}

.card-event .date {
    color: #a3b104;
}

.card-event .image-container {
    height: 220px;
    overflow: hidden;
}

.card-event img {
    object-fit: cover;
    border-radius: 5px 0 0 5px;
    height: 230px;
}
.card-event svg{
    fill: #a3b104;
}
.card-event .flag {
    position: absolute;
    top: -1.5px;
    left: 10%;
    width: 60px;
    height: 60px;
    background-color: #a3b104;
    color: #333;
    text-align: center;
    z-index: 1 !important;
}

.card-event .flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 0;
    border-top: 18px solid #a3b104;
    border-bottom: 20px solid transparent;
    border-left: 40px solid #a3b104;
    z-index: -1;
}

.card-event .flag:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 0;
    height: 0;
    border-top: 18px solid #a3b104;
    border-bottom: 20px solid transparent;
    border-right: 40px solid #a3b104;
    z-index: -1;
}

.card-event .flag .month {
    font-size: .8rem;
    line-height: 0;
}

.card-event .flag .day {
    font-size: 1.8rem;
}

.card-event h3 {
    font-size: var(--font-size-card-title);
    color: #333;
}

li {
    font-size: 15px;
}

@media screen and (max-width: 767px) {
    .card-event img {
        border-radius: 5px 5px 0 0;
    }
}
