.backLink {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}
.product-details button {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.productLine svg,
.backLink svg {
    width: 20px;
    height: 20px;
}

.consentCheckbox{
    font-size: small;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}
@media screen and (max-width: 768px) {

    .cart-row {
        width: auto !important;
    }
}