:root{
    --margin-top-image-decalee: -10%;
    --min-height-section: 50vh;
}

body{
    background: linear-gradient(white,rgba(66, 176, 27, 0.42), white);
}

.image-rounded {
    border-radius: 50%;
    position: absolute;
}

#image-one {
    width: 300px;
    height: 300px;
    top: -50px;
    left: 100px;
}

.introduction {
    min-height: var(--min-height-section);
}

.presentation {
    background-color: #19420a;
    min-height: var(--min-height-section);
    color: white;
}

.histoire {
    min-height: var(--min-height-section);
}
