:root{
    --margin-top-image-decalee: -10%;
    --min-height-section: 50vh;
    --max-circle-size: 300px;
    --medium-circle-size: calc(var(--max-circle-size) - 100px);
    --min-circle-size: calc(var(--max-circle-size) - 150px);
    --green: #19420a;
}

body{
    background: linear-gradient(white,rgba(66, 176, 27, 0.42), white);
}

.image-rounded {
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    object-fit: cover;
    object-position: center;
}

.image-max {
    width: var(--max-circle-size);
    height: var(--max-circle-size);
}

.image-medium {
    width: var(--medium-circle-size);
    height: var(--medium-circle-size);
}

.image-min {
    width: var(--min-circle-size);
    height: var(--min-circle-size);
}

#image-1 {
    top: 0;
    left: 20%;
}

#image-2 {
    top: -100px;
    right: 20%;
}

#image-3 {
    bottom: -200px;
    left: 20%;
}

#image-4 {
    bottom: -150px;
    right: 20%;
}

#image-5 {
    bottom: 10%;
    left: 10%;
}

.introduction {
    min-height: var(--min-height-section);
}

.presentation {
    background-color: var(--green);
    min-height: var(--min-height-section);
}

.presentation p {
    margin: 0;
}

.presentation p {
    margin-bottom: 10px;
}

.demarche {
    min-height: var(--min-height-section);
}

.history .services_section {
    width: 100% !important;
    text-align: initial !important;
}
