{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}



{% endblock %}


{% block main %}
    <div class="engagements px-3 px-sm-5">
        <div class="d-flex justify-content-center">
            <h1 class="my-5 styled-title text-center">{{ 'Nos Engagements' | upper }}</h1>
        </div>
        <div class="content d-flex flex-column flex-xl-row justify-content-between position-relative">
            <div class="block-left col-12 col-xl-6">
               
            </div>
            <div class="block-right col-12 col-xl-5 d-flex flex-column align-items-center justify-content-lg-center justify-content-between position-relative">
               
            </div>
        </div>
    </div>
{% endblock %}
