
{% block main %}
            {% for record in records %}
                {% if record.contentTypeSlug == 'videos' %}
                    {% include 'videos.twig' %}
                {% endif %}
            {% else %}
                <article>

                    <h2>{{ __('general.phrase.no-content-found') }}</h2>

                    <p>
                        {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                    </p>

                </article>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center w-100">
            {{ pager(records, template = 'partials/helpers/_pager.html.twig') }}
        </div>
    </div>

{% endblock main %}
