{% extends 'partials/_master.twig' %}


{% block stylesheet %}
    {{ parent() }}
       <link rel="stylesheet" href="{{ asset('css/videos.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block main %}
    <div class="container">
        <h1 class="text-center">
            Nos videos
        </h1>
        <p class="text-center">
            Esse tempor officia mollit pariatur non cupidatat fugiat enim exercitation Lorem. Veniam amet ea sit anim cillum laboris esse amet et aliqua voluptate. Minim dolor dolor occaecat Lorem et aute.</p>
        {% include 'partials/_tagCloud.twig' with {'taxonomyType': 'videos-tags'} %}
        <div class="row g-0 justify-content-around">
            {% for record in records %}
              {% include 'partials/vidéos/_vidéos-card.twig' %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center w-100">
        {{ pager(records, template = 'helpers/_pager_bootstrap.html.twig') }}
        </div>
  </div>
{% endblock %}