{% block stylesheet %}
     {{ encore_entry_link_tags('headerStyle', null, 'bocaux') }}
{% endblock %}
{% setcontent options = "Options"%}

<header>

    <div class="header-container">
        <video autoplay muted loop id="myVideo" class="img-fluid">
            <source src="{{ asset('videos/header.webm') }}" type="video/webm">
        </video>
        <div class="card-img-overlay header-overlay row flex-column align-items-center justify-content-center">

            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="{{ asset('pictures/BDC-logo.png') }}" alt="logo Bocaux des champs">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center text-center">
                {% if options and options.headerText is not empty %}
                    {{ options.headerText|raw }}
                {% else %}
                    Veuillez renseigner le texte du header dans l'administration
                {% endif %}
            </div>
        </div>
    </div>
</header>
