<article>
    <h2>{{ __('general.phrase.no-content-found') }}</h2>

    <p>
        {{ __("Malheureusement, aucun contenu n'a pu être trouvé. Essayez une autre page ou rendez-vous sur <a href=\"%paths_root%\">l'accueil</a>.", {'%paths_root%': path('homepage')} ) }}
    </p>

</article>
